
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=JetBrains+Mono&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Quicksand:wght@300..700&display=swap');

@font-face {
  font-family: 'stagBold';
  src: url('/src/assets/Stag Bold.ttf') format('ttf'), 

}

@font-face {
  font-family: 'stagReg';
  src: url('/src/assets/Stag Regular-ttf') format('ttf');

}

body{
  background-color: #ffffff;
  }

  *{
    margin: 0%;
  }